@font-face{font-family:C;src:url(C.woff2)}c,d{font-family:C;font-size:1200%;color:#0000}c{background:linear-gradient(#fff 50.6%,#262626 0%);background-clip:text;margin:-2%;padding:2%}d{background:linear-gradient(163.5deg,#fff 42.9%,#262626 43.3%);background-clip:text}
