@font-face {font-family:C; src:url("C.woff2");}

body {background: rgb(214,63,68);}

/* the first letter needs to be a separate class and tag, because otherwise it will have white artefacts from the other text */

c, d {font-family: 'C'; font-size: 1200%; color: transparent;}

c
    {background: linear-gradient(rgb(255,255,255) 50.6%, rgb(38,38,38) 0%);
	background-clip: text;
	margin: 0 -0.1% -0.36% -0.53%; /* needed for the letters not to clip */
	padding: 0 0.1% 0.36% 0.53%;}

d
    {background: linear-gradient(163.5deg, rgb(255,255,255) 42.9%, rgb(38,38,38) 43.3%);
	background-clip: text;}